# Intermediate SQL

## Join expressions

Previously, we combined information from several multiple queries using the cartesian product operator (except when we used set operations). In this section we introduce a number of **Join operations** that allow us to express some queries which are harder using the cartesian operator.