# Introduction to SQL

## Overview of the SQL query language

The **Structured Query Language (SQL)** has several parts:

1. **Data-definition language (DDL)**; the SQL DDL provides commands for defining relation schemas (e.g. ``student (age, name, sex, ...)``), deleting relations, and modifying relation schemas. Specifically with commands for:
    * **Integrity**; specifying integrity constraints that the data stored in the database must satisfy. Updates that violate integrity constraints are disallowed.
    * **View definition**;
2. **Data-manipulation language (DML)**; the SQL DML provides the ability to query information from the database and to insert tuples into, delete tuples from, and modify tuples in a database. Here, it seems crucial to point out that SQL allows for:
    * **transaction control**; a transaction is a unit of work performed against a database, such as update or delete; SQL contains commands to control whether the transactions are actually concluded or not which is useful to guarantee the integrity of the database, namely via commands such as ``COMMIT`` or ``ROLL BACK``

## Basic data types

Main built-in data types supported:

* ``char(n)``; a fixed-length character string with user-specified length n, if the string is shorter than *n* SQL recycles it with spaces, e.g. if ``char(3)``,"hi" becomes "hi "
* ``varchar(n)``; A variable-length character string with user-specified maximum length;
* ``boolean``; logical values TRUE, FALSE AND UNKNOWN
* ``int``; An integer;
* ``smallint``; 
* ``numeric(p,d)``; a fixed-point number with user-specified precision, defined by the *p* parameter as number of digits of the number, and *d* as the number of the *p* digits to the right of the decimal point.
* ``real, double precision``; Floating-point and double-precision floating-point numbers with machine dependent precision;
* ``float(n)``; A floating-point number wiht precision of at least n digits
* ``date``; defaults to the following format YYYY-MM-DD. For other formats, including time and datetime, [see](https://docs.microsoft.com/en-us/sql/t-sql/data-types/date-transact-sql?view=sql-server-ver15)

## Basic Schema Definition (creating databases and tables)

Before actually writting the code, lets create a temp database. If it already exists delete it.

In [1]:
-- conditional creation of a temporary database
USE master;
GO
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'uni')
    BEGIN
        -- delete the db
        DROP DATABASE uni
        -- create it
        CREATE DATABASE uni
    END
ELSE 
    BEGIN
        -- create it
        CREATE DATABASE uni
    END;
GO

-- double check
SELECT name, database_id AS id FROM sys.databases WHERE name = 'uni';
GO

name,id
uni,7

We define a SQL relation via the <code>CREATE TABLE</code> command. The command below defines the relation department. Notice that integrity constraints are added at the bottom within a list. In this cade we specificy that dept_name is the primary key of the department relation.

In [2]:
-- select the relevant db
USE uni;
GO

-- creat the dept table
CREATE TABLE department (
    dept_name VARCHAR(20),
    building VARCHAR(15),
    budget numeric (12,2),
    PRIMARY KEY (dept_name)
)

-- double-check
SELECT * FROM department;
GO

Sql <strong>supports a number of different integrity constraints</strong>, namely:

- `FOREIGN KEY (A_1, ..., A_n) REFERENCE s`; recall that foreign key restriction state that the value of attributes `(A_1, ..., A_n)` for any tuple in the relation must correspond to values of the primary key attributes of some tuple in relation s.<br>

<br>

In [3]:
--create another table
CREATE TABLE professors (
    prof_id int,
    prof_name varchar(250),
    salary NUMERIC(8,2),
    dept_name varchar(20),
    PRIMARY KEY (prof_id),
    FOREIGN KEY (dept_name) REFERENCES department
);
GO

SELECT * FROM professors;
GO

- `PRIMARY KEY ((A_1, ..., A_n)`; the primary key attributes are required to be **non-null** and **unique**. The primary key specifications are optional but strongly recommended.

In [4]:
-- another example
CREATE TABLE courses (
    course_id int,
    title varchar(15),
    dept_name varchar(20),
    PRIMARY KEY (course_id),
    FOREIGN KEY (dept_name) REFERENCES department
);
GO

-- primary key can be composed by many fields
CREATE TABLE teaches(
    prof_id int,
    course_id int,
    semester varchar(6),
    year numeric(4,0),
    PRIMARY KEY (prof_id, course_id, semester, year),
    FOREIGN KEY (course_id) REFERENCES courses,
    FOREIGN KEY (prof_id) REFERENCES professors,
);
GO

SELECT * FROM courses;
GO

SELECT * FROM teaches;
GO

## Droping dabases and tables

It is pretty straightforward.

In [5]:
-- Switch database being used
USE master;
GO
-- droping a database as a whole
DROP DATABASE uni;
GO
-- rebuilding it but without foreign key constraints
CREATE DATABASE uni;
GO
USE uni;
GO
CREATE TABLE courses (
    course_id int,
    title varchar(15),
    dept_name varchar(20),
    PRIMARY KEY (course_id)
);
GO
CREATE TABLE teaches(
    prof_id int,
    course_id int,
    semester varchar(6),
    year numeric(4,0),
    PRIMARY KEY (prof_id, course_id, semester, year)
);
GO
CREATE TABLE professors (
    prof_id int,
    prof_name varchar(250),
    salary NUMERIC(8,2),
    dept_name varchar(20),
    PRIMARY KEY (prof_id),
);
GO

SELECT name, object_id AS id FROM sys.tables;
GO 
-- Drop a table
DROP TABLE courses;
GO
-- check
SELECT name, object_id AS id FROM sys.tables;
GO 
-- Drop two tables
DROP TABLE teaches, professors;
GO
-- check
SELECT name, object_id AS id FROM sys.tables;
GO
-- Switch database being used
USE tempdb;
GO
-- Drop the entire database
DROP DATABASE uni;
GO
-- check
SELECT name FROM sys.databases;
GO

name,id
courses,581577110
teaches,613577224
professors,645577338

name,id
teaches,613577224
professors,645577338

name
master
tempdb
model
msdb
udemy
dbm_project

As for dropping columns, we have to preced the ``DROP`` with a ``ALTER TABLE``.

In [6]:
-- rebuilding it but without foreign key constraints
CREATE DATABASE uni;
GO
USE uni;
GO
CREATE TABLE courses (
    course_id int,
    title varchar(15),
    dept_name varchar(20),
    fooh varchar(100)
);
GO
-- Drop the dept_name columns
ALTER TABLE courses
DROP COLUMN dept_name;
GO
SELECT * FROM courses;
GO

-- Drop two columns
ALTER TABLE courses
DROP COLUMN title, course_id;
GO
SELECT * FROM courses;
GO

We can also drop constraints. This is particularly useful to do before removing a column with a constraint.

In [7]:
-- Create a table with constraints
CREATE TABLE doc_exc (
    column_a int NOT NULL CONSTRAINT my_constraint UNIQUE,
    column_b int NOT NULL CONSTRAINT my_pk_constraint PRIMARY KEY
);
GO
-- Remove the constraints
ALTER TABLE doc_exc
DROP CONSTRAINT my_constraint, my_pk_constraint;
GO

## Basic structure of SQL queries

The basic structure of SQL queries consists of three clauses:

- `SELECT` -\> **column list**;
- `FROM` -\> **table list**;
- `WHERE` -\> **predicate/logical condition**

For example, using our database above, Find the names of all instructors. Instructor names are found in the instructor relation, so we put that relation in the from clause. The instructors name appears in the name attribute, so we put that in the select clause.

```
SELECT name 
FROM instructor;
```

Now consider another query, Find the department names of all instructors, which can be written as:

```
SELECT dept_name
FROM instructor;
```

Given the question at hand, we might just be interested in distinct department names since the duplicates are not informative. We can do so by adding this clause.

```
SELECT DISTINCT dept_name
FROM instructor;
```

Now we will focus a bit more on slightly more complex queries. As such lets re-create our database, add two tables and fill it with some fake data. The code below does that.

In [8]:
-- conditional creation of a temporary database
USE master;
GO
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'uni')
    BEGIN
        -- delete the db
        DROP DATABASE uni
        -- create it
        CREATE DATABASE uni
        USE uni
        -- creat the dept table
        CREATE TABLE department (
            dept_name VARCHAR(20),
            building VARCHAR(15),
            budget numeric (12,2),
            PRIMARY KEY (dept_name)
        )
        -- create the prof table
        CREATE TABLE professors (
            prof_id int,
            prof_name varchar(250),
            dept_name varchar(20),
            salary numeric(8,2),
            PRIMARY KEY (prof_id),
        )
        -- insert some data
        insert into professors values ('10101', 'Srinivasan', 'Comp. Sci.', '65000');
        insert into professors values ('12121', 'Wu', 'Finance', '90000');
        insert into professors values ('15151', 'Mozart', 'Music', '40000');
        insert into department values ('Biology', 'Watson', '90000');
        insert into department values ('Comp. Sci.', 'Taylor', '100000');
        insert into department values ('Elec. Eng.', 'Taylor', '85000');
        insert into department values ('Finance', 'Painter', '120000');
    END;
    GO

In [9]:
USE uni;
GO
SELECT * FROM professors;
GO
SELECT * FROM department;
GO

prof_id,prof_name,dept_name,salary
10101,Srinivasan,Comp. Sci.,65000.00
12121,Wu,Finance,90000.00
15151,Mozart,Music,40000.00

dept_name,building,budget
Biology,Watson,90000.00
Comp. Sci.,Taylor,100000.00
Elec. Eng.,Taylor,85000.00
Finance,Painter,120000.00

As stated before, the <code>where</code> clause filter the rows in the result relation which satisfy a specified predicated. For example, <em>Find the names of all instructors in the Computer Science department who have salary greater than $40,000.</em>

In [10]:
SELECT prof_name AS [Relevant Professor] FROM professors
WHERE (
    dept_name = 'Comp. Sci.' AND salary > 40000.00
);
GO

Relevant Professor
Srinivasan

SQL allows the use of the logical connectives and, or, and not in the where clause. The operands of the logical connectives can be expressions involving the comparison operators \<, \<=, \>, \>=, =, and \<\> (<strong>NOT EQUAL TO</strong>). SQL allows us to use the comparison operators to compare strings and arithmetic expressions, as well as special types, such as date types.

Another example,* find all departments which are not hosted at the Taylor building*

In [11]:
SELECT dept_name AS department FROM department
WHERE building <> 'Taylor';
GO

department
Biology
Finance

Another crucial predicate is the <code>LIKE %STRING%</code> which allows for partial matching with wildcards.

* Percent (%): The % character matches any substring.
* Underscore ( ): The character matches any character.

In [12]:
-- starting with a ta and ending with r
SELECT dept_name AS department FROM department
WHERE building NOT LIKE 'Ta%r';
GO

department
Biology
Finance

In [13]:
-- regex
SELECT dept_name AS department FROM department
WHERE building NOT LIKE 'Tay__r';
GO

department
Biology
Finance

Similar we can filter observations which are a subset of some list.

In [14]:
SELECT dept_name AS department FROM department
WHERE building IN ('FOOH', ' Baah', 'Watson', 'Painter');
GO

department
Biology
Finance

The ``BETWEEN`` predicate evaluates whether the tuple is whithin a certain interval of values.

In [15]:
SELECT budget FROM department
WHERE budget BETWEEN 95000.00 AND 140000.00;
GO

budget
100000.00
120000.00

In [16]:
-- refining the result with cast
SELECT d.dept_name, CAST(d.budget / 1000 AS int) AS [budget in thousands]
FROM department AS d
ORDER BY [budget in thousands] desc;
GO

dept_name,budget in thousands
Finance,120
Comp. Sci.,100
Biology,90
Elec. Eng.,85

We also have predicates for filtering out or in NULL observations.

In [17]:
SELECT dept_name AS name, building
FROM department
WHERE building IS NOT NULL;

SELECT dept_name AS name, building
FROM department
WHERE building IS NULL;

name,building
Biology,Watson
Comp. Sci.,Taylor
Elec. Eng.,Taylor
Finance,Painter

### Queries on Multiple Relations

As an example, suppose we want to answer the query *Retrieve the names of all instructors, along with their department names and department building name.* Notice how we droped one professor from the music department. That is because the music department is still missing from this table.

In [18]:
SELECT p.prof_name AS names, p.dept_name, d.building
FROM professors AS p, department AS d
WHERE p.dept_name = d.dept_name;
GO

names,dept_name,building
Srinivasan,Comp. Sci.,Taylor
Wu,Finance,Painter

Although the clauses must be written in the order above, the easiest way to understand the operations specified by the query is to consider the clauses in operational order: first <strong>from</strong>, then <strong>where</strong>, and then <strong>select</strong>.

  

The from clause by itself defines a cartesian product of the relations listed in the clause. The resulting relation has all attributes from all relations present in the clause.

In [19]:
-- cartesian product of two relations in SQL
SELECT prof.*, dept.* 
FROM professors AS prof, department AS dept;
GO

prof_id,prof_name,dept_name,salary,dept_name,building,budget
10101,Srinivasan,Comp. Sci.,65000.00,Biology,Watson,90000.00
10101,Srinivasan,Comp. Sci.,65000.00,Comp. Sci.,Taylor,100000.00
10101,Srinivasan,Comp. Sci.,65000.00,Elec. Eng.,Taylor,85000.00
10101,Srinivasan,Comp. Sci.,65000.00,Finance,Painter,120000.00
12121,Wu,Finance,90000.00,Biology,Watson,90000.00
12121,Wu,Finance,90000.00,Comp. Sci.,Taylor,100000.00
12121,Wu,Finance,90000.00,Elec. Eng.,Taylor,85000.00
12121,Wu,Finance,90000.00,Finance,Painter,120000.00
15151,Mozart,Music,40000.00,Biology,Watson,90000.00
15151,Mozart,Music,40000.00,Comp. Sci.,Taylor,100000.00
15151,Mozart,Music,40000.00,Elec. Eng.,Taylor,85000.00
15151,Mozart,Music,40000.00,Finance,Painter,120000.00

This leads to a very large relation with plenty of duplicated and incorrenct information. Instead, the predicate in the where clause is used to restrict the combinations created by the cartesian product to those that are meaningful for the relevant question.

### Set operations

SQL operations <strong>UNION</strong>, <strong>INTERSECT</strong>, and <strong>EXCEPT</strong> operate in relations and correspond to the mathematical set operations , , and .

We can find the set of all disciplines at the Taylor building with a budget above 89,000

In [20]:
SELECT dept_name AS name 
FROM department
WHERE building = 'Taylor' and budget > 89000.00;
GO

name
Comp. Sci.

Similarly, we can find the set of all disciplines at the Watson building with a budget above 89,000

In [21]:
SELECT dept_name AS name 
FROM department
WHERE building = 'Watson' and budget > 89000.00;
GO

name
Biology

To find the set of all departments in Taylor or Watson with a budget above 89.000 we can resort o the union operator.

In [22]:
(SELECT dept_name AS name 
FROM department
WHERE building = 'Taylor' and budget > 89000.00)
UNION
(SELECT dept_name AS name 
FROM department
WHERE building = 'Watson' and budget > 89000.00);
GO

-- alternatively, we could've have written
SELECT dept_name AS name 
FROM department
WHERE building IN ('Taylor', 'Watson') and budget > 89000.00;
GO

name
Biology
Comp. Sci.

name
Biology
Comp. Sci.

Now turning to the intersection, we can identify the set of department names which are mentioned in both tables.<br>

In [23]:
SELECT dept_name FROM professors
INTERSECT
SELECT dept_name FROM department;
GO

dept_name
Comp. Sci.
Finance

The except operator outputs all tuples from the first input relation which do not occur in the second input (i.e. as an anti-join). As we saw before, it is confirmed here that the only department in the professors tables which is not in the department table is the music department.

In [24]:
SELECT dept_name FROM professors
EXCEPT
SELECT dept_name FROM department;
GO

dept_name
Music

### Null Values

Null values present special problem in relational operations, including arithmetic, comparison, and set operations. In comparison operations, SQL treats null values as unknown.

In [25]:
-- add an empty column to departments
insert into department values ('Law.', 'Sottomayor', NULL)

For example, in this query SQL identifies NULL as part of the resulting tuple of department with budgets higher than 10000 but also notice that once we make this specific query, the row with the NULL is not part of it - which does not make much sense.

In [26]:
SELECT budget FROM department
WHERE budget < 10000.00;
GO

SELECT budget FROM department
WHERE budget > 10000.00;
GO

budget
90000.00
100000.00
85000.00
120000.00

SQL treats treats it as an unknown. As we know, UNKNOWN is a logical operator which implies that we can manipulate it in the WHERE clause using logical comparisons. However, we have a special keyword ``null`` which we can use in the predicate to work with null values

In [27]:
SELECT budget FROM department
WHERE budget IS NOT NULL AND budget > 10000.00;
GO

-- we can also identify the tuple with the missing data
SELECT * FROM department 
WHERE budget IS NULL;
GO

budget
90000.00
100000.00
85000.00
120000.00

dept_name,building,budget
Law.,Sottomayor,NULL

### Aggregate functions

Aggregate functions are functions that take a collection of valus as input and return a single value. SQL offers five standard built-in aggregate functions:

- Average: `avg`
- Minimum: `min`
- Maximum: `max`
- Total: `sum`
- Count: `count`

For example, in the query below we find the average salary of the professors.

In [28]:
SELECT AVG(salary) as [Avg. budget]
FROM professors;
GO

-- issue of nulls
SELECT AVG(budget) as [Avg. budget]
FROM department
WHERE budget IS NOT NULL;
GO

Avg. budget
65000.000000

Avg. budget
98750.000000

In this case we also remove duplicates since we want to know how many buildings are in our university database.

In [29]:
SELECT COUNT(
    DISTINCT building
) AS [number of buildings]
FROM department;
GO
-- check
SELECT DISTINCT building
FROM department;
GO

number of buildings
4

building
Painter
Sottomayor
Taylor
Watson

1. Quite useful to know, it is ilegal to count the number of distinct rows in the following way. However, we can just count them as a whole.

In [30]:

-- this is fine
SELECT COUNT (*) as [Row count]
FROM department;
GO

Row count
5

### Aggregation by groups

There are circumstances where we would like to apply the aggregate function not only to a single set of tuples, but also to a group of sets of tuples. For this it is useful to get a larger database, so I am re-creating the uni data base [using the followign scripts](https://www.db-book.com/db7/university-lab-dir/sample_tables-dir/index.html)

In [31]:
USE master;
GO

-- dump the database
IF EXISTS (SELECT name FROM sys.databases WHERE name = 'uni')
    BEGIN
        DROP DATABASE uni
    END;
    GO

-- check
SELECT name FROM sys.databases;
GO

-- re-create the database
CREATE DATABASE uni;
GO
USE uni;
GO
-- create tables
create table classroom
	(building		varchar(15),
	 room_number		varchar(7),
	 capacity		numeric(4,0),
	 primary key (building, room_number)
	);

create table department
	(dept_name		varchar(20), 
	 building		varchar(15), 
	 budget		        numeric(12,2) check (budget > 0),
	 primary key (dept_name)
	);

create table course
	(course_id		varchar(8), 
	 title			varchar(50), 
	 dept_name		varchar(20),
	 credits		numeric(2,0) check (credits > 0),
	 primary key (course_id),
	 foreign key (dept_name) references department (dept_name)
		on delete set null
	);

create table instructor
	(ID			varchar(5), 
	 prof_name			varchar(20) not null, 
	 dept_name		varchar(20), 
	 salary			numeric(8,2) check (salary > 29000),
	 primary key (ID),
	 foreign key (dept_name) references department (dept_name)
		on delete set null
	);

create table time_slot
	(time_slot_id		varchar(4),
	 day			varchar(1),
	 start_hr		numeric(2) check (start_hr >= 0 and start_hr < 24),
	 start_min		numeric(2) check (start_min >= 0 and start_min < 60),
	 end_hr			numeric(2) check (end_hr >= 0 and end_hr < 24),
	 end_min		numeric(2) check (end_min >= 0 and end_min < 60),
	 primary key (time_slot_id, day, start_hr, start_min)
	);

-- add data
insert into time_slot values ( 'A', 'M', 8, 0, 8, 50);
insert into time_slot values ( 'A', 'W', 8, 0, 8, 50);
insert into time_slot values ( 'A', 'F', 8, 0, 8, 50);
insert into time_slot values ( 'B', 'M', 9, 0, 9, 50);
insert into time_slot values ( 'B', 'W', 9, 0, 9, 50);
insert into time_slot values ( 'B', 'F', 9, 0, 9, 50);
insert into time_slot values ( 'C', 'M', 11, 0, 11, 50);
insert into time_slot values ( 'C', 'W', 11, 0, 11, 50);
insert into time_slot values ( 'C', 'F', 11, 0, 11, 50);
insert into time_slot values ( 'D', 'M', 13, 0, 13, 50);
insert into time_slot values ( 'D', 'W', 13, 0, 13, 50);
insert into time_slot values ( 'D', 'F', 13, 0, 13, 50);
insert into time_slot values ( 'E', 'T', 10, 30, 11, 45);
insert into time_slot values ( 'E', 'R', 10, 30, 11, 45);
insert into time_slot values ( 'F', 'T', 14, 30, 15, 45);
insert into time_slot values ( 'F', 'R', 14, 30, 15, 45);
insert into time_slot values ( 'G', 'M', 16, 0, 16, 50);
insert into time_slot values ( 'G', 'W', 16, 0, 16, 50);
insert into time_slot values ( 'G', 'F', 16, 0, 16, 50);
insert into time_slot values ( 'H', 'W', 10, 0, 12, 30);
insert into classroom values('Lamberton', 134, 10);
insert into classroom values('Chandler', 375, 10);
insert into classroom values('Fairchild', 145, 27);
insert into classroom values('Nassau', 45, 92);
insert into classroom values('Grace', 40, 34);
insert into classroom values('Whitman', 134, 120);
insert into classroom values('Lamberton', 143, 10);
insert into classroom values('Taylor', 812, 115);
insert into classroom values('Saucon', 113, 109);
insert into classroom values('Painter', 86, 97);
insert into classroom values('Alumni', 547, 26);
insert into classroom values('Alumni', 143, 47);
insert into classroom values('Drown', 757, 18);
insert into classroom values('Saucon', 180, 15);
insert into classroom values('Whitman', 434, 32);
insert into classroom values('Saucon', 844, 24);
insert into classroom values('Bronfman', 700, 12);
insert into classroom values('Polya', 808, 28);
insert into classroom values('Gates', 707, 65);
insert into classroom values('Gates', 314, 10);
insert into classroom values('Main', 45, 30);
insert into classroom values('Taylor', 183, 71);
insert into classroom values('Power', 972, 10);
insert into classroom values('Garfield', 119, 59);
insert into classroom values('Rathbone', 261, 60);
insert into classroom values('Stabler', 105, 113);
insert into classroom values('Power', 717, 12);
insert into classroom values('Main', 425, 22);
insert into classroom values('Lambeau', 348, 51);
insert into classroom values('Chandler', 804, 11);
insert into department values('Civil Eng.', 'Chandler', 255041.46);
insert into department values('Biology', 'Candlestick', 647610.55);
insert into department values('History', 'Taylor', 699140.86);
insert into department values('Physics', 'Wrigley', 942162.76);
insert into department values('Marketing', 'Lambeau', 210627.58);
insert into department values('Pol. Sci.', 'Whitman', 573745.09);
insert into department values('English', 'Palmer', 611042.66);
insert into department values('Accounting', 'Saucon', 441840.92);
insert into department values('Comp. Sci.', 'Lamberton', 106378.69);
insert into department values('Languages', 'Linderman', 601283.60);
insert into department values('Finance', 'Candlestick', 866831.75);
insert into department values('Geology', 'Palmer', 406557.93);
insert into department values('Cybernetics', 'Mercer', 794541.46);
insert into department values('Astronomy', 'Taylor', 617253.94);
insert into department values('Athletics', 'Bronfman', 734550.70);
insert into department values('Statistics', 'Taylor', 395051.74);
insert into department values('Psychology', 'Thompson', 848175.04);
insert into department values('Math', 'Brodhead', 777605.11);
insert into department values('Elec. Eng.', 'Main', 276527.61);
insert into department values('Mech. Eng.', 'Rauch', 520350.65);
insert into course values('787', 'C  Programming', 'Mech. Eng.', 4);
insert into course values('238', 'The Music of Donovan', 'Mech. Eng.', 3);
insert into course values('608', 'Electron Microscopy', 'Mech. Eng.', 3);
insert into course values('539', 'International Finance', 'Comp. Sci.', 3);
insert into course values('278', 'Greek Tragedy', 'Statistics', 4);
insert into course values('972', 'Greek Tragedy', 'Psychology', 4);
insert into course values('391', 'Virology', 'Biology', 3);
insert into course values('814', 'Compiler Design', 'Elec. Eng.', 3);
insert into course values('272', 'Geology', 'Mech. Eng.', 3);
insert into course values('612', 'Mobile Computing', 'Physics', 3);
insert into course values('237', 'Surfing', 'Cybernetics', 3);
insert into course values('313', 'International Trade', 'Marketing', 3);
insert into course values('887', 'Latin', 'Mech. Eng.', 3);
insert into course values('328', 'Composition and Literature', 'Cybernetics', 3);
insert into course values('984', 'Music of the 50s', 'History', 3);
insert into course values('241', 'Biostatistics', 'Geology', 3);
insert into course values('338', 'Graph Theory', 'Psychology', 3);
insert into course values('400', 'Visual BASIC', 'Psychology', 4);
insert into course values('760', 'How to Groom your Cat', 'Accounting', 3);
insert into course values('629', 'Finite Element Analysis', 'Cybernetics', 3);
insert into course values('762', 'The Monkeys', 'History', 4);
insert into course values('242', 'Rock and Roll', 'Marketing', 3);
insert into course values('482', 'FOCAL Programming', 'Psychology', 4);
insert into course values('581', 'Calculus', 'Pol. Sci.', 4);
insert into course values('843', 'Environmental Law', 'Math', 4);
insert into course values('679', 'The Beatles', 'Math', 3);
insert into course values('704', 'Marine Mammals', 'Geology', 4);
insert into course values('774', 'Game Programming', 'Cybernetics', 4);
insert into course values('591', 'Shakespeare', 'Pol. Sci.', 4);
insert into course values('319', 'World History', 'Finance', 4);
insert into course values('960', 'Tort Law', 'Civil Eng.', 3);
insert into course values('274', 'Corporate Law', 'Comp. Sci.', 4);
insert into course values('426', 'Video Gaming', 'Finance', 3);
insert into course values('852', 'World History', 'Athletics', 4);
insert into course values('408', 'Bankruptcy', 'Accounting', 3);
insert into course values('808', 'Organic Chemistry', 'English', 4);
insert into course values('902', 'Existentialism', 'Finance', 3);
insert into course values('730', 'Quantum Mechanics', 'Elec. Eng.', 4);
insert into course values('362', 'Embedded Systems', 'Finance', 4);
insert into course values('341', 'Quantum Mechanics', 'Cybernetics', 3);
insert into course values('582', 'Marine Mammals', 'Cybernetics', 3);
insert into course values('867', 'The IBM 360 Architecture', 'History', 3);
insert into course values('169', 'Marine Mammals', 'Elec. Eng.', 3);
insert into course values('680', 'Electricity and Magnetism', 'Civil Eng.', 3);
insert into course values('227', 'Elastic Structures', 'Languages', 4);
insert into course values('991', 'Transaction Processing', 'Psychology', 3);
insert into course values('366', 'Computational Biology', 'English', 3);
insert into course values('376', 'Cost Accounting', 'Physics', 4);
insert into course values('489', 'Journalism', 'Astronomy', 4);
insert into course values('663', 'Geology', 'Psychology', 3);
insert into course values('461', 'Physical Chemistry', 'Math', 3);
insert into course values('105', 'Image Processing', 'Astronomy', 3);
insert into course values('407', 'Industrial Organization', 'Languages', 4);
insert into course values('254', 'Security', 'Cybernetics', 3);
insert into course values('998', 'Immunology', 'Civil Eng.', 4);
insert into course values('457', 'Systems Software', 'History', 3);
insert into course values('401', 'Sanitary Engineering', 'Athletics', 4);
insert into course values('127', 'Thermodynamics', 'Geology', 3);
insert into course values('399', 'RPG Programming', 'Pol. Sci.', 4);
insert into course values('949', 'Japanese', 'Comp. Sci.', 3);
insert into course values('496', 'Aquatic Chemistry', 'Cybernetics', 3);
insert into course values('334', 'International Trade', 'Athletics', 3);
insert into course values('544', 'Differential Geometry', 'Statistics', 3);
insert into course values('451', 'Database System Concepts', 'Pol. Sci.', 4);
insert into course values('190', 'Romantic Literature', 'Civil Eng.', 3);
insert into course values('630', 'Religion', 'English', 3);
insert into course values('761', 'Existentialism', 'Athletics', 3);
insert into course values('804', 'Introduction to Burglary', 'Cybernetics', 4);
insert into course values('781', 'Compiler Design', 'Finance', 4);
insert into course values('805', 'Composition and Literature', 'Statistics', 4);
insert into course values('318', 'Geology', 'Cybernetics', 3);
insert into course values('353', 'Operating Systems', 'Psychology', 3);
insert into course values('394', 'C  Programming', 'Athletics', 3);
insert into course values('137', 'Manufacturing', 'Finance', 3);
insert into course values('192', 'Drama', 'Languages', 4);
insert into course values('681', 'Medieval Civilization or Lack Thereof', 'English', 3);
insert into course values('377', 'Differential Geometry', 'Astronomy', 4);
insert into course values('959', 'Bacteriology', 'Physics', 4);
insert into course values('235', 'International Trade', 'Math', 3);
insert into course values('421', 'Aquatic Chemistry', 'Athletics', 4);
insert into course values('647', 'Service-Oriented Architectures', 'Comp. Sci.', 4);
insert into course values('598', 'Number Theory', 'Accounting', 4);
insert into course values('858', 'Sailing', 'Math', 4);
insert into course values('487', 'Physical Chemistry', 'History', 3);
insert into course values('133', 'Antidisestablishmentarianism in Modern America', 'Biology', 4);
insert into course values('267', 'Hydraulics', 'Physics', 4);
insert into course values('200', 'The Music of the Ramones', 'Accounting', 4);
insert into course values('664', 'Elastic Structures', 'English', 3);
insert into course values('599', 'Mechanics', 'Psychology', 4);
insert into course values('456', 'Hebrew', 'Civil Eng.', 3);
insert into course values('558', 'Environmental Law', 'Psychology', 3);
insert into course values('919', 'Computability Theory', 'Math', 3);
insert into course values('546', 'Creative Writing', 'Mech. Eng.', 4);
insert into course values('969', 'The Monkeys', 'Astronomy', 4);
insert into course values('877', 'Composition and Literature', 'Biology', 4);
insert into course values('337', 'Differential Geometry', 'Statistics', 3);
insert into course values('983', 'Virology', 'Languages', 4);
insert into course values('603', 'Care and Feeding of Cats', 'Statistics', 3);
insert into course values('747', 'International Practicum', 'Comp. Sci.', 4);
insert into course values('659', 'Geology', 'Math', 4);
insert into course values('559', 'Martian History', 'Biology', 3);
insert into course values('403', 'Immunology', 'Biology', 3);
insert into course values('436', 'Stream Processing', 'Physics', 4);
insert into course values('656', 'Groups and Rings', 'Civil Eng.', 4);
insert into course values('731', 'The Music of Donovan', 'Physics', 4);
insert into course values('820', 'Assembly Language Programming', 'Cybernetics', 3);
insert into course values('898', 'Petroleum Engineering', 'Marketing', 4);
insert into course values('545', 'International Practicum', 'History', 3);
insert into course values('893', 'Systems Software', 'Cybernetics', 3);
insert into course values('818', 'Environmental Law', 'Astronomy', 4);
insert into course values('618', 'Thermodynamics', 'English', 4);
insert into course values('416', 'Data Mining', 'Accounting', 3);
insert into course values('716', 'Medieval Civilization or Lack Thereof', 'Languages', 4);
insert into course values('130', 'Differential Geometry', 'Physics', 3);
insert into course values('476', 'International Communication', 'Astronomy', 4);
insert into course values('101', 'Diffusion and Phase Transformation', 'Mech. Eng.', 3);
insert into course values('123', 'Differential Equations', 'Mech. Eng.', 3);
insert into course values('209', 'International Trade', 'Cybernetics', 4);
insert into course values('352', 'Compiler Design', 'Psychology', 4);
insert into course values('393', 'Aerodynamics', 'Languages', 3);
insert into course values('795', 'Death and Taxes', 'Marketing', 3);
insert into course values('577', 'The Music of Dave Edmunds', 'Elec. Eng.', 3);
insert into course values('584', 'Computability Theory', 'Comp. Sci.', 3);
insert into course values('864', 'Heat Transfer', 'Geology', 3);
insert into course values('594', 'Cognitive Psychology', 'Finance', 3);
insert into course values('802', 'African History', 'Cybernetics', 3);
insert into course values('692', 'Cat Herding', 'Athletics', 3);
insert into course values('258', 'Colloid and Surface Chemistry', 'Math', 3);
insert into course values('748', 'Tort Law', 'Cybernetics', 4);
insert into course values('770', 'European History', 'Pol. Sci.', 3);
insert into course values('340', 'Corporate Law', 'History', 3);
insert into course values('158', 'Elastic Structures', 'Cybernetics', 3);
insert into course values('276', 'Game Design', 'Comp. Sci.', 4);
insert into course values('626', 'Multimedia Design', 'History', 4);
insert into course values('696', 'Heat Transfer', 'Marketing', 4);
insert into course values('239', 'The Music of the Ramones', 'Physics', 4);
insert into course values('962', 'Animal Behavior', 'Psychology', 3);
insert into course values('527', 'Graphics', 'Finance', 3);
insert into course values('275', 'Romantic Literature', 'Languages', 3);
insert into course values('549', 'Banking and Finance', 'Astronomy', 3);
insert into course values('974', 'Astronautics', 'Accounting', 3);
insert into course values('897', 'How to Succeed in Business Without Really Trying', 'Languages', 4);
insert into course values('359', 'Game Programming', 'Comp. Sci.', 4);
insert into course values('345', 'Race Car Driving', 'Accounting', 4);
insert into course values('371', 'Milton', 'Finance', 3);
insert into course values('284', 'Topology', 'Comp. Sci.', 4);
insert into course values('642', 'Video Gaming', 'Psychology', 3);
insert into course values('769', 'Logic', 'Elec. Eng.', 4);
insert into course values('947', 'Real-Time Database Systems', 'Accounting', 3);
insert into course values('265', 'Thermal Physics', 'Cybernetics', 4);
insert into course values('927', 'Differential Geometry', 'Cybernetics', 4);
insert into course values('694', 'Optics', 'Math', 3);
insert into course values('580', 'The Music of Dave Edmunds', 'Physics', 4);
insert into course values('324', 'Ponzi Schemes', 'Civil Eng.', 3);
insert into course values('349', 'Networking', 'Finance', 4);
insert into course values('392', 'Recursive Function Theory', 'Astronomy', 4);
insert into course values('735', 'Greek Tragedy', 'Geology', 3);
insert into course values('702', 'Arabic', 'Biology', 3);
insert into course values('458', 'The Renaissance', 'Civil Eng.', 4);
insert into course values('348', 'Compiler Design', 'Elec. Eng.', 3);
insert into course values('500', 'Networking', 'Astronomy', 3);
insert into course values('494', 'Automobile Mechanics', 'Pol. Sci.', 4);
insert into course values('411', 'Music of the 80s', 'Mech. Eng.', 4);
insert into course values('493', 'Music of the 50s', 'Geology', 3);
insert into course values('396', 'C  Programming', 'Languages', 3);
insert into course values('810', 'Mobile Computing', 'Geology', 3);
insert into course values('631', 'Plasma Physics', 'Elec. Eng.', 4);
insert into course values('486', 'Accounting', 'Geology', 3);
insert into course values('963', 'Groups and Rings', 'Languages', 4);
insert into course values('445', 'Biostatistics', 'Finance', 3);
insert into course values('292', 'Electron Microscopy', 'English', 4);
insert into course values('830', 'Sensor Networks', 'Astronomy', 4);
insert into course values('604', 'UNIX System Programmming', 'Statistics', 4);
insert into course values('857', 'UNIX System Programmming', 'Geology', 4);
insert into course values('304', 'Music 2 New for your Instructor', 'Finance', 4);
insert into course values('922', 'Microeconomics', 'Finance', 4);
insert into course values('571', 'Plastics', 'Comp. Sci.', 4);
insert into course values('628', 'Existentialism', 'Accounting', 3);
insert into course values('841', 'Fractal Geometry', 'Mech. Eng.', 4);
insert into course values('586', 'Image Processing', 'Finance', 4);
insert into course values('139', 'Number Theory', 'English', 4);
insert into course values('666', 'Multivariable Calculus', 'Accounting', 3);
insert into course values('443', 'Journalism', 'Physics', 4);
insert into course values('195', 'Numerical Methods', 'Geology', 4);
insert into course values('634', 'Astronomy', 'Cybernetics', 4);
insert into course values('224', 'International Finance', 'Athletics', 3);
insert into course values('791', 'Operating Systems', 'Marketing', 3);
insert into course values('875', 'Bioinformatics', 'Cybernetics', 3);
insert into course values('958', 'Fiction Writing', 'Mech. Eng.', 3);
insert into course values('415', 'Numerical Methods', 'Biology', 3);
insert into course values('442', 'Strength of Materials', 'Athletics', 3);
insert into course values('468', 'Fractal Geometry', 'Civil Eng.', 4);
insert into course values('270', 'Music of the 90s', 'Math', 4);
insert into course values('966', 'Sanitary Engineering', 'History', 3);
insert into course values('793', 'Decison Support Systems', 'Civil Eng.', 3);
insert into course values('236', 'Design and Analysis of Algorithms', 'Mech. Eng.', 3);
insert into course values('792', 'Image Processing', 'Accounting', 3);
insert into course values('561', 'The Music of Donovan', 'Elec. Eng.', 4);
insert into course values('344', 'Quantum Mechanics', 'Accounting', 4);
insert into course values('780', 'Geology', 'Psychology', 3);
insert into instructor values('63395', 'McKinnon', 'Cybernetics', 94333.99);
insert into instructor values('78699', 'Pingr', 'Statistics', 59303.62);
insert into instructor values('96895', 'Mird', 'Marketing', 119921.41);
insert into instructor values('4233', 'Luo', 'English', 88791.45);
insert into instructor values('4034', 'Murata', 'Athletics', 61387.56);
insert into instructor values('50885', 'Konstantinides', 'Languages', 32570.50);
insert into instructor values('79653', 'Levine', 'Elec. Eng.', 89805.83);
insert into instructor values('50330', 'Shuming', 'Physics', 108011.81);
insert into instructor values('80759', 'Queiroz', 'Biology', 45538.32);
insert into instructor values('73623', 'Sullivan', 'Elec. Eng.', 90038.09);
insert into instructor values('97302', 'Bertolino', 'Mech. Eng.', 51647.57);
insert into instructor values('57180', 'Hau', 'Accounting', 43966.29);
insert into instructor values('74420', 'Voronina', 'Physics', 121141.99);
insert into instructor values('35579', 'Soisalon-Soininen', 'Psychology', 62579.61);
insert into instructor values('31955', 'Moreira', 'Accounting', 71351.42);
insert into instructor values('37687', 'Arias', 'Statistics', 104563.38);
insert into instructor values('6569', 'Mingoz', 'Finance', 105311.38);
insert into instructor values('16807', 'Yazdi', 'Athletics', 98333.65);
insert into instructor values('14365', 'Lembr', 'Accounting', 32241.56);
insert into instructor values('90643', 'Choll', 'Statistics', 57807.09);
insert into instructor values('81991', 'Valtchev', 'Biology', 77036.18);
insert into instructor values('95030', 'Arinb', 'Statistics', 54805.11);
insert into instructor values('15347', 'Bawa', 'Athletics', 72140.88);
insert into instructor values('74426', 'Kenje', 'Marketing', 106554.73);
insert into instructor values('42782', 'Vicentino', 'Elec. Eng.', 34272.67);
insert into instructor values('58558', 'Dusserre', 'Marketing', 66143.25);
insert into instructor values('63287', 'Jaekel', 'Athletics', 103146.87);
insert into instructor values('59795', 'Desyl', 'Languages', 48803.38);
insert into instructor values('22591', 'DAgostino', 'Psychology', 59706.49);
insert into instructor values('48570', 'Sarkar', 'Pol. Sci.', 87549.80);
insert into instructor values('79081', 'Ullman ', 'Accounting', 47307.10);
insert into instructor values('52647', 'Bancilhon', 'Pol. Sci.', 87958.01);
insert into instructor values('25946', 'Liley', 'Languages', 90891.69);
insert into instructor values('36897', 'Morris', 'Marketing', 43770.36);
insert into instructor values('72553', 'Yin', 'English', 46397.59);
insert into instructor values('3199', 'Gustafsson', 'Elec. Eng.', 82534.37);
insert into instructor values('34175', 'Bondi', 'Comp. Sci.', 115469.11);
insert into instructor values('48507', 'Lent', 'Mech. Eng.', 107978.47);
insert into instructor values('65931', 'Pimenta', 'Cybernetics', 79866.95);
insert into instructor values('3335', 'Bourrier', 'Comp. Sci.', 80797.83);
insert into instructor values('64871', 'Gutierrez', 'Statistics', 45310.53);
insert into instructor values('95709', 'Sakurai', 'English', 118143.98);
insert into instructor values('43779', 'Romero', 'Astronomy', 79070.08);
insert into instructor values('77346', 'Mahmoud', 'Geology', 99382.59);
insert into instructor values('28097', 'Kean', 'English', 35023.18);
insert into instructor values('90376', 'Bietzk', 'Cybernetics', 117836.50);
insert into instructor values('28400', 'Atanassov', 'Statistics', 84982.92);
insert into instructor values('41930', 'Tung', 'Athletics', 50482.03);
insert into instructor values('19368', 'Wieland', 'Pol. Sci.', 124651.41);
insert into instructor values('99052', 'Dale', 'Cybernetics', 93348.83);

-- check
SELECT TOP 10 * FROM course;
GO

name
master
tempdb
model
msdb
udemy
dbm_project

course_id,title,dept_name,credits
101,Diffusion and Phase Transformation,Mech. Eng.,3
105,Image Processing,Astronomy,3
123,Differential Equations,Mech. Eng.,3
127,Thermodynamics,Geology,3
130,Differential Geometry,Physics,3
133,Antidisestablishmentarianism in Modern America,Biology,4
137,Manufacturing,Finance,3
139,Number Theory,English,4
158,Elastic Structures,Cybernetics,3
169,Marine Mammals,Elec. Eng.,3

We can aggregate observations by group using the ``GROUP BY`` clause. As an ilustration, we can find the number of courses offered by each department.

In [32]:
SELECT dept_name, COUNT(course_id) as [course number]
FROM course
GROUP BY dept_name;
GO

dept_name,course number
Accounting,12
Astronomy,10
Athletics,9
Biology,7
Civil Eng.,10
Comp. Sci.,10
Cybernetics,20
Elec. Eng.,8
English,8
Finance,14
Geology,10
History,9
Languages,10
Marketing,6
Math,10
Mech. Eng.,12
Physics,10
Pol. Sci.,6
Psychology,13
Statistics,6

Similarly, we can find the number of departments by building.

In [33]:
-- find the available table
SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES ;
GO

-- make the query
SELECT building, COUNT(dept_name) as [department count]
FROM department
GROUP BY building;
GO

TABLE_NAME
classroom
department
course
instructor
time_slot

building,department count
Brodhead,1
Bronfman,1
Candlestick,2
Chandler,1
Lambeau,1
Lamberton,1
Linderman,1
Main,1
Mercer,1
Palmer,2
Rauch,1
Saucon,1
Taylor,3
Thompson,1
Whitman,1
Wrigley,1

At times it is useful to state a condition that applies to groups rather than to tuples - that is, a <code>WHERE</code> for groups. For this, we can use the <code>HAVING</code> clause. For example, we may be interested in the average budget by building where the average budget must exceed 500,000.

In [34]:
-- all
SELECT building, AVG(budget) as [average budget]
FROM department
GROUP BY building;
GO

-- filtered
SELECT building, AVG(budget) as [average budget]
FROM department
GROUP BY building
HAVING AVG(budget) > 500000.00;
GO

building,average budget
Brodhead,777605.110000
Bronfman,734550.700000
Candlestick,757221.150000
Chandler,255041.460000
Lambeau,210627.580000
Lamberton,106378.690000
Linderman,601283.600000
Main,276527.610000
Mercer,794541.460000
Palmer,508800.295000
Rauch,520350.650000
Saucon,441840.920000
Taylor,570482.180000
Thompson,848175.040000
Whitman,573745.090000
Wrigley,942162.760000

building,average budget
Brodhead,777605.110000
Bronfman,734550.700000
Candlestick,757221.150000
Linderman,601283.600000
Mercer,794541.460000
Palmer,508800.295000
Rauch,520350.650000
Taylor,570482.180000
Thompson,848175.040000
Whitman,573745.090000
Wrigley,942162.760000

### Nested subqueries

SQL provides a mechanism for nesting subqueries. A subquery is a <strong>select-from-where expression that is nested within another query</strong>.

#### Set membership

Before we resorted to intersection to find overlapping set membership. We could also use a nested subquery. For example, the query below shows us all the departments in buildings with room capacity higher than 50.

In [35]:
SELECT *
FROM classroom
ORDER BY capacity;
GO

-- subquery
SELECT dept_name, building
FROM department
WHERE building IN (SELECT building
                   FROM classroom
                   WHERE capacity > 50);
GO

building,room_number,capacity
Chandler,375,10
Gates,314,10
Lamberton,134,10
Lamberton,143,10
Power,972,10
Chandler,804,11
Bronfman,700,12
Power,717,12
Saucon,180,15
Drown,757,18
Main,425,22
Saucon,844,24
Alumni,547,26
Fairchild,145,27
Polya,808,28
Main,45,30
Whitman,434,32
Grace,40,34
Alumni,143,47
Lambeau,348,51
Garfield,119,59
Rathbone,261,60
Gates,707,65
Taylor,183,71
Nassau,45,92
Painter,86,97
Saucon,113,109
Stabler,105,113
Taylor,812,115
Whitman,134,120

dept_name,building
Accounting,Saucon
Astronomy,Taylor
History,Taylor
Marketing,Lambeau
Pol. Sci.,Whitman
Statistics,Taylor

#### Set comparison

Another ability of nested subqueries is executing set comparisons. For example, take the query *Find the name of all instructors whose salary is greater than at least one instructor in the BIology department*. 


Because if a salary is larger than the smallest salary in the biology department, implies that it is larger than at least one, we could write that nested subquery.

In [36]:
-- exploiting the min
SELECT prof_name as [Salary greater than at least one bio prof]
FROM instructor
WHERE salary > (SELECT MIN(salary)
                FROM instructor
                WHERE dept_name = 'Biology');
GO

Salary greater than at least one bio prof
Bawa
Yazdi
Wieland
DAgostino
Liley
Atanassov
Moreira
Gustafsson
Bourrier
Bondi
Soisalon-Soininen
Arias
Murata
Tung
Luo
Romero
Lent
Sarkar
Shuming
Bancilhon
Dusserre
Desyl
Jaekel
McKinnon
Mingoz
Pimenta
Yin
Sullivan
Voronina
Kenje
Mahmoud
Pingr
Ullman
Levine
Valtchev
Bietzk
Choll
Arinb
Sakurai
Mird
Bertolino
Dale

Alternatively, we could make use of ``SOME``. The ``SOME`` operator **evaluates the condition between the outer and inner tables and evaluates to true if the final result returns <strong>any one</strong> row. If not, then it evaluates to false**.

In [37]:
SELECT prof_name
FROM instructor
WHERE salary > SOME (SELECT salary 
                     FROM instructor
                     WHERE dept_name = 'Biology');
GO

prof_name
Bawa
Yazdi
Wieland
DAgostino
Liley
Atanassov
Moreira
Gustafsson
Bourrier
Bondi
Soisalon-Soininen
Arias
Murata
Tung
Luo
Romero
Lent
Sarkar
Shuming
Bancilhon
Dusserre
Desyl
Jaekel
McKinnon
Mingoz
Pimenta
Yin
Sullivan
Voronina
Kenje
Mahmoud
Pingr
Ullman
Levine
Valtchev
Bietzk
Choll
Arinb
Sakurai
Mird
Bertolino
Dale

Now we modify our query to finding *all the names of instructors who have a salary higher than all instructors in the biology department*. Here we use the ``ALL`` operator.

In [38]:
SELECT prof_name
FROM instructor 
WHERE salary > ALL(SELECT salary 
                   FROM instructor
                   WHERE dept_name = 'Biology');
GO

prof_name
Yazdi
Wieland
Liley
Atanassov
Gustafsson
Bourrier
Bondi
Arias
Luo
Romero
Lent
Sarkar
Shuming
Bancilhon
Jaekel
McKinnon
Mingoz
Pimenta
Sullivan
Voronina
Kenje
Mahmoud
Levine
Bietzk
Sakurai
Mird
Dale

As another set comparison, <em>find the departments that have above average, average salaries</em>

In [39]:
SELECT dept_name, AVG(SALARY) as avg_salary
FROM instructor
GROUP BY dept_name
HAVING AVG(salary) > (SELECT AVG(SALARY) as avg_salary
                      FROM instructor)

-- double-check
SELECT AVG(salary) as avg_salary
FROM instructor;
GO

dept_name,avg_salary
Astronomy,79070.080000
Comp. Sci.,98133.470000
Cybernetics,96346.567500
Finance,105311.380000
Geology,99382.590000
Marketing,84097.437500
Mech. Eng.,79813.020000
Physics,114576.900000
Pol. Sci.,100053.073333

avg_salary
77600.188200

Similarly, we can ask *who are the professors with above average salaries*.

In [40]:
SELECT prof_name, salary
FROM instructor 
WHERE salary > (SELECT AVG(salary)
                FROM instructor);
GO

-- double check
SELECT AVG(salary) AS avg_salary
FROM instructor;
GO

prof_name,salary
Yazdi,98333.65
Wieland,124651.41
Liley,90891.69
Atanassov,84982.92
Gustafsson,82534.37
Bourrier,80797.83
Bondi,115469.11
Arias,104563.38
Luo,88791.45
Romero,79070.08
Lent,107978.47
Sarkar,87549.80
Shuming,108011.81
Bancilhon,87958.01
Jaekel,103146.87
McKinnon,94333.99
Mingoz,105311.38
Pimenta,79866.95
Sullivan,90038.09
Voronina,121141.99
Kenje,106554.73
Mahmoud,99382.59
Levine,89805.83
Bietzk,117836.50
Sakurai,118143.98
Mird,119921.41
Dale,93348.83

avg_salary
77600.188200

#### Testing for empty relations

SQL includes a feature for testing whether a subquery has any tuples in its result -\> <code>EXISTS.</code><br>

In [41]:
SELECT prof_name, salary 
FROM instructor
WHERE salary <= 8000 AND EXISTS(SELECT prof_name, salary 
                                FROM instructor AS i
                                WHERE i.salary <= 8000);
GO

#### Subqueries in the `FROM` Clause

Any <code>SELECT-FROM-WHERE</code> expression returns a table as a result. Being so, we can actually use the output of an <code>SELECT-FROM-WHERE</code> expression within another <code>SELECT-FROM-WHERE</code> expression. For example, consider the following query: <em>Find the average instructors' salaries of those departments where the average salary is greater than 60,000 and smaller than 70,000</em>

In [42]:
SELECT t.dept_name, t.avg_salary
FROM (
    SELECT dept_name, AVG(salary) as avg_salary
    FROM instructor
    GROUP BY dept_name
) as t
WHERE t.avg_salary BETWEEN  60000 AND 70000;
GO

dept_name,avg_salary
Biology,61287.250000
Psychology,61143.050000
Statistics,67795.441666

Note that this is the same as we did before using the <code>HAVING</code>, however here we did not need it since we computed the average salary in the from clause.

In [43]:
SELECT dept_name, AVG(salary) AS avg_salary
FROM instructor
GROUP BY dept_name
HAVING AVG(salary) BETWEEN 60000 AND 70000;
GO

dept_name,avg_salary
Biology,61287.250000
Psychology,61143.050000
Statistics,67795.441666

As another example, suppose *we wish to find the maximum across all departments of the total of all instructors salaries in each department*

In [58]:
SELECT MAX(t.total_salary) AS [highest total salary]
FROM (
    SELECT SUM(salary) as total_salary
    FROM instructor
    GROUP BY dept_name
) AS t;
GO

-- double-check
SELECT TOP 1 dept_name, SUM(salary) as sum_salary
FROM instructor
GROUP BY dept_name
ORDER BY sum_salary DESC;
GO

highest total salary
406772.65

dept_name,sum_salary
Statistics,406772.65

### The ``WITH`` clause

The ``WITH``clause in the query defines a temporary table whose deifinition is available only to the query in which it occurs. It is useful as it may be used in the later parts of the same query. This clause is supported by many, but not all, database systems. Consider the following query, which finds those departments with the maximum budget

In [60]:
WITH max_budget (maximum_value) AS ( 
    SELECT MAX(budget) AS maximum_value
    FROM department
) 
SELECT department.dept_name, max_budget.maximum_value AS [max budget]
FROM department, max_budget
WHERE department.budget = max_budget.maximum_value;
GO

dept_name,max budget
Physics,942162.76

As another example, suppose we want to find all departments where the total salary is greater than the average of the total salary at all departments

In [68]:
WITH dept_total (dept_name, total) AS (
    SELECT dept_name, sum(salary)
    FROM instructor
    GROUP BY dept_name
), dept_total_avg (total) AS (
    SELECT AVG(total)
    FROM dept_total
)
SELECT dept_name
FROM dept_total, dept_total_avg
WHERE dept_total.total > dept_total_avg.total;
GO

dept_name
Athletics
Cybernetics
Elec. Eng.
English
Marketing
Physics
Pol. Sci.
Statistics

### Data insertion

To insert data into a relation, we either

1. specify a tuple to be inserted or
2. write a query whose result is a set of tuples to be inserted. 


Requirements:

* **The attribute values for inserted tuples must be members of the corresponding attribute's domain**
* **Tuples must have the correct number of attributes**

Below, we have few examples of some simple insertions of the first type

In [72]:
INSERT course (course_id, title, dept_name, credits)
VALUES ('CS-437', 'Database systems', 'Comp. Sci.', 4)

### Updates

In certain situations, we may wish to change a value in a tuple withou changing all values in the tuple. For this purpose, the ``UPDATE``statement can be used.

Suppose that salary increases are being made and that the salaries of all instructors is increased by 5%.

In [74]:
-- before
SELECT TOP 3 salary FROM instructor;
GO

-- update
UPDATE instructor
SET salary = salary * 1.05;
GO

-- after
SELECT TOP 3 salary FROM instructor;
GO

salary
32241.56
72140.88
98333.65

salary
33853.64
75747.92
103250.33

Also, imagine that a new endowment was attributed to the History department.

In [81]:
-- before
SELECT * FROM department
WHERE dept_name = 'History';
GO

-- History dept gets 10,000 more
UPDATE department
SET budget = budget + 10000.00
WHERE dept_name = 'History'

-- after
SELECT * FROM department
WHERE dept_name = 'History';
GO

dept_name,building,budget
History,Taylor,699140.86

dept_name,building,budget
History,Taylor,709140.86

Give a 20% raise to all professors which have salaries below average.

In [82]:
-- before
SELECT salary FROM instructor;
GO

-- update
update instructor
SET salary = salary * 1.20
WHERE salary < (SELECT AVG(salary)
                FROM instructor)

-- after
SELECT salary FROM instructor;
GO

salary
33853.64
75747.92
103250.33
130883.98
62691.81
95436.27
36774.34
89232.07
74918.99
86661.09
84837.72
121242.57
65708.59
45958.88
109791.55
64456.94
53006.13
93231.02
35986.30
83023.58
113377.39
91927.29
113412.40
34199.03
92355.91
46164.60
69450.41
51243.55
108304.21
99050.69
47576.06
110576.95
83860.30
48717.47
94539.99
127199.09
111882.47
104351.72
62268.80
49672.46
94296.12
47815.24
80887.99
123728.33
60697.44
57545.37
124051.18
125917.48
54229.95
98016.27

salary
40624.37
90897.50
103250.33
130883.98
75230.17
95436.27
44129.21
89232.07
89902.79
86661.09
84837.72
121242.57
78850.31
55150.66
109791.55
77348.33
63607.36
93231.02
43183.56
83023.58
113377.39
91927.29
113412.40
41038.84
92355.91
55397.52
83340.49
61492.26
108304.21
99050.69
57091.27
110576.95
83860.30
58460.96
94539.99
127199.09
111882.47
104351.72
74722.56
59606.95
94296.12
57378.29
97065.59
123728.33
72836.93
69054.44
124051.18
125917.48
65075.94
98016.27

#### Using the `CASE ... WHEN ...`

SQL provides a realy helpful <code>CASE..WHEN...</code> construct we can use to perform both updates with a single update statement, thus avoiding the problem with the order of the updates. For exemple, 5% increase for salaries smaller or equal to 100,000, 3% for smaller or equal to 70,000 and no raise for the remaining.

In [84]:
UPDATE instructor
SET salary = CASE 
                WHEN salary <= 100000.00 THEN salary * 1.05
                WHEN salary <= 70000.00 THEN salary * 1.03
                ELSE salary
             END

In [85]:
-- check
SELECT salary FROM instructor;
GO

salary
42655.59
95442.38
103250.33
130883.98
78991.68
100208.08
46335.67
93693.67
94397.93
90994.14
89079.61
121242.57
82792.83
57908.19
109791.55
81215.75
66787.73
97892.57
45342.74
87174.76
113377.39
96523.65
113412.40
43090.78
96973.71
58167.40
87507.51
64566.87
108304.21
104003.22
59945.83
110576.95
88053.32
61384.01
99266.99
127199.09
111882.47
104351.72
78458.69
62587.30
99010.93
60247.20
101918.87
123728.33
76478.78
72507.16
124051.18
125917.48
68329.74
102917.08

In [86]:
-- clean up 
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'uni')
    BEGIN
        USE master
        DROP DATABASE uni
    END;
    GO

## Practice exercises

<strong>NOTE: be sure to run the university DDL and DML scripts in the scripts folder before doing them.</strong><br>

<em>Exercises from Silberchatz et al chapter 3</em>

Write the following queries in SQL, using the university schema.

a. Find the titles of courses in the Comp. Sci. department that have 3 credits.

b. Find the IDs of all students who were taught by an instructor named 'Bawa'; make sure there are no duplicates in the result.

c. Find the highest salary of any instructor.

d. Find all instructors earning the highest salary (there may be more than one with the same salary).

e. Find the enrollment of each section that was offered in Fall 2017.

f. Find the maximum enrollment, across all sections, in Fall 2017.

g. Find the sections that had the maximum enrollment in Fall 2017.

In [24]:
-- query for displaying all the tables along with all their features and features metadata
SELECT T.name AS Table_Name ,
    C.name AS Column_Name ,
    P.name AS Data_Type ,
    P.max_length AS Size ,
    CAST(P.precision AS VARCHAR) + '/' + CAST(P.scale AS VARCHAR) AS Precision_Scale
FROM   sys.objects AS T
    JOIN sys.columns AS C ON T.object_id = C.object_id
    JOIN sys.types AS P ON C.system_type_id = P.system_type_id
WHERE  T.type_desc = 'USER_TABLE';

Table_Name,Column_Name,Data_Type,Size,Precision_Scale
classroom,building,varchar,8000,0/0
classroom,room_number,varchar,8000,0/0
classroom,capacity,numeric,17,38/38
department,dept_name,varchar,8000,0/0
department,building,varchar,8000,0/0
department,budget,numeric,17,38/38
course,course_id,varchar,8000,0/0
course,title,varchar,8000,0/0
course,dept_name,varchar,8000,0/0
course,credits,numeric,17,38/38
instructor,ID,varchar,8000,0/0
instructor,name,varchar,8000,0/0
instructor,dept_name,varchar,8000,0/0
instructor,salary,numeric,17,38/38
section,course_id,varchar,8000,0/0
section,sec_id,varchar,8000,0/0
section,semester,varchar,8000,0/0
section,year,numeric,17,38/38
section,building,varchar,8000,0/0
section,room_number,varchar,8000,0/0
section,time_slot_id,varchar,8000,0/0
teaches,ID,varchar,8000,0/0
teaches,course_id,varchar,8000,0/0
teaches,sec_id,varchar,8000,0/0
teaches,semester,varchar,8000,0/0
teaches,year,numeric,17,38/38
student,ID,varchar,8000,0/0
student,name,varchar,8000,0/0
student,dept_name,varchar,8000,0/0
student,tot_cred,numeric,17,38/38
takes,ID,varchar,8000,0/0
takes,course_id,varchar,8000,0/0
takes,sec_id,varchar,8000,0/0
takes,semester,varchar,8000,0/0
takes,year,numeric,17,38/38
takes,grade,varchar,8000,0/0
advisor,s_ID,varchar,8000,0/0
advisor,i_ID,varchar,8000,0/0
time_slot,time_slot_id,varchar,8000,0/0
time_slot,day,varchar,8000,0/0
time_slot,start_hr,numeric,17,38/38
time_slot,start_min,numeric,17,38/38
time_slot,end_hr,numeric,17,38/38
time_slot,end_min,numeric,17,38/38
prereq,course_id,varchar,8000,0/0
prereq,prereq_id,varchar,8000,0/0

In [30]:
--- a)
SELECT title 
FROM course 
WHERE dept_name = 'Comp. Sci.' AND credits = 3;
GO

--- b)
SELECT DISTINCT takes.ID 
FROM takes, teaches, instructor
WHERE takes.course_id = teaches.course_id AND
takes.sec_id = teaches.sec_id AND
takes.semester = teaches.semester AND
takes.[year] = teaches.[year] AND
teaches.ID = instructor.ID AND
instructor.name = 'Bawa';
GO

--- c)
SELECT MAX(salary) as max_salary
FROM instructor;
GO
-- alternative
SELECT TOP 1 salary as max_salary
FROM instructor
ORDER BY salary DESC;
GO

--- d)
SELECT instructor.name
FROM instructor
WHERE salary = (
    SELECT MAX(salary)
    FROM instructor
);
GO

--- e)
SELECT course_id, sec_id, (
    SELECT COUNT (ID)
    FROM takes
    WHERE takes.course_id = section.course_id AND
    takes.[year] = section.[year] AND
    takes.semester = section.semester AND
    takes.sec_id = section.sec_id
) AS enrollments
FROM section
WHERE semester = 'Fall' AND [year] = 2007;
GO

--- f)
SELECT MAX(t.enrollment) AS max_enrollment
FROM (
    SELECT COUNT(ID) as enrollment
    FROM section, takes
    WHERE takes.[year] = section.[year] AND
        takes.semester = section.semester AND 
        takes.course_id = section.course_id AND 
        takes.sec_id = section.sec_id AND 
        takes.semester = 'Fall' AND 
        takes.[year] = 2007
    GROUP BY takes.course_id, takes.sec_id
) AS t;
GO

--- g)
WITH sec_enrollment (enrollment, sec_id, course_id) AS (
    SELECT takes.course_id, takes.sec_id, COUNT(ID) as enrollment
    FROM section, takes
    WHERE takes.course_id = section.course_id AND 
    takes.sec_id = section.sec_id AND 
    takes.semester = section.semester AND 
    takes.semester = 'Fall' AND 
    takes.[year] = 2007
    GROUP BY takes.course_id, takes.sec_id
)
SELECT sec_id, course_id
FROM sec_enrollment 
WHERE enrollment = (
    SELECT MAX(enrollment)
    FROM sec_enrollment
);
GO

title
International Finance
Computability Theory
Japanese

ID
10033
1018
107
108
10838
11055
11095
11202
11530
12971
13365
13749
13921
14596
14874
15538
15578
16347
16453
16515
16993
17057
17133
1726
17397
17676
1836
18583
18859
19048
19450
19917
20814
21009
21102
21552
21789
22086
23373
23525
24010
24796
25525
26028
26102
26147
2629
26802
27366
27430
27687
27898
282
28252
28952
29002
29140
2967
29705
29920
30017
30164
30177
30289
30772
30957
31442
31560
31761
32217
32345
32419
32772
32954
33349
34018
34170
34197
34569
35175
35498
35588
36052
36263
36513
36685
37219
37653
37869
37946
38691
39157
39310
39521
39881
40481
40897
40992
4182
41827
41832
41973
42565
4355
43658
43912
44998
45436
45770
46035
46066
46337
46442
47001
47379
48778
48850
49611
49792
50267
50467
50537
50873
51203
51416
51538
51955
52187
52203
52371
52750
52866
52872
53118
5336
53803
53805
5381
5393
5414
544
54605
54610
5463
54875
55009
55857
56499
57156
57185
57242
57538
58594
58634
59908
60040
60748
61354
61356
61444
62054
62705
62784
64039
64164
64169
64249
6474
64934
65121
65438
65714
66259
67222
68278
68779
69122
69581
69628
69747
69850
69853
69960
70099
70564
70572
70807
71529
71631
71944
72177
72657
72669
74840
75123
760
76250
7656
76911
77898
78469
78481
78572
7861
78792
78911
792
79210
79469
81566
81610
82066
82083
82402
82688
82974
83170
83314
83686
84189
84702
84792
8483
85754
86001
87439
88045
8807
88577
89196
898
90779
9084
91063
914
91569
91580
91788
92332
92442
92659
92864
93061
93814
9460
94620
94801
94815
9495
95175
95260
95366
96085
96134
96246
96988
97551
97573
97953
98315
98359
98984
993
9933
99348
99694

max_salary
124651.41

max_salary
124651.41

name
Wieland

course_id,sec_id,enrollments
612,1,285
489,1,292
258,1,294
893,1,284
468,2,315
949,1,303

max_enrollment
315

sec_id,course_id
1,303